<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Sign up</strong>
        </h5>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="card-body px-lg-5 pt-0">
          <form class="text-center" style="color: #757575;">

            <div class="form-group">
              <label for="Username" class="bmd-label-floating">Username</label>
              <%= f.input :username, label: false, required: true, autocomplete: "username", input_html: { class: "form-control" } %>
              <span class="bmd-help">We'll never share your username with anyone else.</span>
            </div>

            <div class="form-group">
              <label for="Email" class="bmd-label-floating">Email</label>
              <%= f.input :email, label: false, required: true, autocomplete: "email", input_html: { class: "form-control" } %>
              <span class="bmd-help">We'll never share your username with anyone else.</span>
            </div>

            <div class="form-group">
              <label for="Password" class="bmd-label-floating">Password</label>
              <%= f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control" } %>
              <span class="bmd-help">We'll never share your password with anyone else.</span>
            </div>

            <div class="form-group">
              <label for="Password" class="bmd-label-floating">Confirm Password</label>
              <%= f.input :password_confirmation, label: false, required: true,  input_html: { autocomplete: "new-password", class: "form-control" } %>
              <span class="bmd-help">We'll never share your password with anyone else.</span>
            </div>
            <br>
            <div class="col-md-4 offset-md-4">
              <%= f.button :submit, "Sign Up", class: "btn btn-raised btn-info btn-rounded btn-block my-4 waves-effect z-depth-0" %>
            </div>
          </form>
        </div>
        <% end %>
        <div style="text-align: center;">
          <%= render "devise/shared/links" %>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>