<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <%= javascript_include_tag "home_pages.js" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body { font-family: "Times New Roman", Georgia, Serif; }
h1, h2, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
h3 {
  letter-spacing: 2px;
}
</style>
<head>
</head>
  <body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="container">
        <div class="logo-item">
          <%= image_tag("l.png", alt: "logo_design", style: "height: 60px;") %>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <%= content_tag(:i, "blur_on", class: "material-icons", style: "color: white;") %>
      </button>
      <div class="collapse navbar-collapse nav-collapse" id="navbarNavDropdown">
        <div class="main-container">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a href="#about" class="nav-link"> About </a>
            </li>
            <li class="nav-item active">
              <a href="#contact" class="nav-link"> Contact </a>
            </li>
            <li class="nav-item active">
              <a href="#skill" class="nav-link"> Skill </a>
            </li>
            <li class="nav-item active">
              <%= link_to "Submit a photo", new_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a href="#posts" class="nav-link"> Colections </a>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                <% end %>
            </li>
            <li class="nav-item" id="btn-join">
              <% if !user_signed_in? %>
                <%= link_to "Join Free", new_user_registration_path, class: "nav-link" %>
              <% else %>
                <%= link_to "#{current_user.username}", users_path, class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main role="main">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-centered">
          <div class="carousel-item active">
            <%= image_tag("01.jpg", alt: "First slide", class: "d-block w-100") %>
              <div class="carousel-caption mx-auto">
                <h1 class="text-uppercase" style="font-family: cursive;">
                  <strong class="animation1"> Design </strong>
                </h1>
                <p style="text-align: center; opacity: 0.8;" class="animation2">Beautiful, free photos <br> Gifted by the world’s most generous community of photographers. 🎁</p>
                <br>
                <button type="button" class="btn btn-outline-secondary" id="outline-danger">Find out more</button>
                <br>
                <hr>
                <span class="badge badge-pill badge-info">Design by: Trung Tran</span>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- color -->
    <div class="color" style="padding-top: 20px;">
      <div class="col-lg-6 mx-auto text-center">
        <br>
        <h1>The New Defaults</h1>
        <div class="animation2">
          <p style="text-align: center;"> Skinning your prototypes just got easier - colors.css is a collection of skin classes to use while prototyping in the browser. </p>
          <span style="text-align: center; font-weight: bold;"> 647 Bytes </span>
          <span> minified and gzipped. </span>
        </div>
        <br>
        <div class="menu_color">
          <div class="card" style="width: 18rem; display: contents;">
            <% @colors.each do |color| %>
              <div class="card-body" style="background: <%= color.code %> color: #fff;" id="card-body">
                <h5 class="card-title"><%= color.name %></h5>
                <p class="card-text" style="text-align: center;"><%= color.code.first(7).upcase %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-content" style="max-width:1100px">
      <!-- About Section -->

      <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
         <img src="https://s3-us-west-2.amazonaws.com/design-image/upload/52065902_2199459166969927_6667806095609692160_n.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large">
          <h1 class="w3-center">About Design</h1><br>
          <h5 class="w3-center">Tradition since 2019</h5>
          <p class="w3-large">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
          <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit</p>
          <div id="posts"></div>
        </div>
      </div>

    <hr class="w3-opacity">
    <%= render 'search' %>
    <div class="w3-row-padding w3-padding-16 w3-center">
      <% @posts.each do |post| %>
        <div class="w3-third">
          <div class="wrapper">
            <% if post.image? %>
            <div class="date">
              <span class="day"><%= post.created_at.day %></span>
              <span class="month"><%= Date::MONTHNAMES[post.created_at.month][0..2] %></span>
              <span class="year"><%= post.created_at.year %></span>
            </div>
            <a href="<%= url_for(action: :show, id: post.id) %>" data-toggle="modal" data-target="#show-detail-post" >
              <%= image_tag post.image.url, style: "width:100%;", class: "img" %>
            </a>
              <%= render 'detailpost' %>
            <% end %>
            <div class="data">
              <div class="content">
                <span class="author"><%= post.user.username if post.user.present? %></span>
                <h3 class="title"><%= truncate(post.title, length: 20, omission: "...#{post.title[-5, 5]}") if post.title.present? %></h3>
                <p class="w3-center text"><%= truncate(post.discription, length: 30, omission: "...#{post.discription[-5, 5]}") if post.discription.present? %></p>
                <label for="show-menu" class="menu-button"><span></span></label>
                </div>
              <input type="checkbox" id="show-menu" />
              <ul class="menu-content">
                <li><a href="#" class="fa fa-facebook-official"><span>5</span></a></li>
                <li><a href="#" class="fa fa-instagram"><span>47</span></a></li>
                <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
      <%= paginate @posts %>
      </div>
    </div>
    <!-- skill -->
    <div class="w3-container w3-padding-64" id="skill">
      <h1 class="w3-padding-16">Technical Skills</h1>
      <p class="w3-wide">Photography</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:95%">95%</div>
      </div>
      <p class="w3-wide">Web Design</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:85%">85%</div>
      </div>
      <p class="w3-wide">Photoshop</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:80%">80%</div>
      </div>
      <p><button class="w3-button w3-light-grey w3-padding-large w3-margin-top">Download Resume</button></p>
    </div>

    <!--  -->
    <div class="w3-row w3-center w3-padding-16 w3-section w3-dark-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">11+</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Meetings
      </div>
    </div>
      <hr class="w3-opacity">
      <!-- Contact Section -->
      <div class="card w3-container w3-padding-64" id="contact">
        <h1>Contact</h1><br>
        <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
        <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
        <p>You can also contact us by phone 0978860750 or email trungpro151224@gmail.com, or you can send us a message here:</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-padding-16" type="number" placeholder="Email" required name="People"></p>
          <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
          <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
        </form>
      </div>
    <!-- End page content -->
    </div>

    <!-- footer -->
    <footer class="w3-container w3-padding-32 w3-grey">
      <div class="w3-row-padding">
        <div class="w3-third">
          <h3>INFO</h3>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>      
        </div>

        <div class="w3-third">
          <h3>BLOG POSTS</h3>
          <ul class="w3-ul">
            <li class="w3-padding-16 w3-hover-black">
              <img src="" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Lorem</span><br>
              <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16 w3-hover-black">
              <img src="" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Ipsum</span><br>
              <span>Praes tinci sed</span>
            </li>
          </ul>
        </div>

        <div class="w3-third">
          <h3>POPULAR TAGS</h3>
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
          </p>
        </div>
      </div>
    </footer>
    <div class="w3-black w3-center w3-padding-24">
      <a href="#" class="w3-button w3-light-grey" style="border-radius: 40px;"><i class="fa fa-home"></i></a>
        <br>
        <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
        <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
      <p style="text-align: center; margin-top: 5px;">Powered by: <a href="#" title="email: trungpro151224@gmail.com" target="_blank" class="w3-hover-opacity">trungpro151224@gmail.com</a></p>
    </div>
  </body>
</html>