<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body { font-family: "Times New Roman", Georgia, Serif; }
h3, h5 {
  font-family: "Playfair Display";
}

</style>
<head>
</head>
  <body>
    <!-- header -->
    <%= render template: "layouts/_nav" %>
    <div class="w3-content w3-row w3-padding-64" style="max-width:1100px;">
      <div class="w3-row-padding w3-padding-32 w3-center">
        <div class="container">
          <% @title_pages.zip(@arr_news, @creator_name).each do |tit_page, arr_new, creat_name| %>
            <div class="w3-third">
              <div class="card" style="height: 660px; margin-bottom: 10px;">
                <article class="new">
                  <%= link_to image_tag(arr_new[:image], id: "crawl-img", class: "card-img-top", src: "...", alt: "Card image cap") %>
                  <div class="card-body">
                    <div class="card-title" style="height: 130px;">
                      <h3 class="title"><%= link_to(tit_page) %></h3>
                    </div>
                    <div class="card-text" style="text-align: justify; height: 200px;">
                      <h5 class="description"><%= truncate(arr_new[:description], length: 200, omission: '... (continued)') %></h5>
                    </div>
                    <div class="card-footer text-muted">
                      <p class="detail" style="font-style: italic; text-align: center;">Create By: <%= creat_name %></p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div style="text-align: center;">
        <%= link_to "Refresh", web_crawler_url, class: "btn btn-raised btn-danger" %>
        <%= link_to "Back", users_path, class: "btn btn-raised btn-info" %>
      </div>
    </div>
    <br>
  </body>
</html>