<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body { font-family: "Times New Roman", Georgia, Serif; }
h1, h2, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
h3 {
  letter-spacing: 2px;
}
</style>
<head>
</head>
  <body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar_user">
      <div class="container">
        <div class="logo-item">
          <%= image_tag("l.png", alt: "logo_design", style: "height: 60px;") %>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <%= content_tag(:i, "blur_on", class: "material-icons", style: "color: white;") %>
      </button>
      <div class="collapse navbar-collapse nav-collapse" id="navbarNavDropdown">
        <div class="main-container">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Submit a photo", new_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a href="#posts" class="nav-link">Photo by me</a>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                <% end %>
            </li>
            <li class="nav-item" id="btn-join">
              <% if !user_signed_in? %>
                <%= link_to "Join Free", new_user_registration_path, class: "nav-link" %>
              <% else %>
                <%= link_to "#{current_user.username}", users_path, class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>

  <div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @posts.each do |post| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= post.title %></h2>
        <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
      </div>

      <div>
        <%= raw(post.discription).truncate(358) %>
      </div>

      <div class="text-center">
        <%= link_to "READ MORE", post_path(post) %>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>
  </body>
</html>