<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @post.title %></h2>
	<% if @post.image? %>
	<%= image_tag @post.image.url, class: "w3-round w3-image w3-min", style: "height:500px; width:500px; border-radius: 100%;" %>
	<% end %>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= @post.discription.html_safe %></div>
  <%= link_to "Edit", edit_post_path, class: "btn btn-raised btn-secondary" %>
  <%= link_to "Back", posts_path, class: "btn btn-raised btn-secondary" %>
</div>
